body {
  font-family: sans-serif;
  margin: 0;
  /* padding: 20px; */
}

h1,
h2 {
  text-align: center;
  padding: 0;
  margin: 0;
}

.gallery-list ul {
  list-style: none;
  padding: 0;
}

.gallery-list li {
  margin-bottom: 10px;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Responsive grid */
  gap: 15px;
}

/* Plagination */
.pagination {
  position: fixed;
  bottom: 20px; /* Adjust this value for desired spacing */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  display: flex;
}
